<div class="form-outline col-md-4 form-control">
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <h3>Login to continue</h3>
    <% flash.each do |type, msg| %>
      <div class='alert'>
        <%= msg %>
      </div>
    <% end %>

  <%= text_field_tag :email  %><br>
  <%= password_field_tag :password %><br>

  <%= submit_tag "Login", class: 'btn btn-primary' %>
<% end %>

</div>