<div class="form-outline col-md-4">
<h2>Edit Account</h2>
<%= render partial: 'form', locals: {user: @user} %>

<p>Add Money</p>
<%= form_tag ({controller: 'users', action: 'add_balance', method: 'post'}) do %>
  <%= hidden_field_tag :balance, '10' %>
  <%= submit_tag "$10" %>
<% end %>

<%= form_tag ({controller: 'users', action: 'add_balance', method: 'post'}) do %>
  <%= submit_tag "$50" %>
<% end %>

<%= form_tag ({controller: 'users', action: 'add_balance', method: 'post'}) do %>
  <%= submit_tag "$100" %>
<% end %>

<%= form_tag ({controller: 'users', action: 'add_balance', method: 'post'}) do %>
  <%= submit_tag "$100" %>
<% end %>
</div>
