<%= form_for @item do |f| %>
  <% flash.each do |type, msg| %>
    <div class='alert'>
      <%= msg %>
    </div>
  <% end %>
  Item Name: <%= f.text_field :name, class: 'form-control'%><br>
  Price: $<%= f.text_field :price, class: 'form-control'%><br>
  Image Url: <%= f.text_field :image_url, class: 'form-control'%><br>
  Description: <%= f.text_area :description, class: 'form-control'%><br>
  <%= hidden_field_tag "[item][storefront_id]",  current_user.storefront.id%>

  <p>Category</p>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>

  <p>New Category</p>
  <%= f.fields_for :categories, Category.new do |categories_fields| %>
    <%= categories_fields.text_field :name %><br>
  <% end %>

  <%= f.submit "Save", class: 'btn btn-primary' %>
<% end %> 