<div class="col-md-2">
</div>

<div class="col-md-6">
  <%= image_tag(@item.image_url, border: 1, width: "60%", height: "60%") %>
</div>

<div class="col-md-4">
<h2><%=@item.name %></h2>
<p><%=@item.description %></p>
<p>$<%=@item.price %></p>
<ul>

<% @item.categories.each do |c|%>
<li><%=c.name %></li>
<%end%>

</ul>



<%= form_tag ({controller: 'transactions', action: 'add_item', method: 'post'}) do %>
  <%= hidden_field_tag :item, @item %>
  <%= submit_tag "Add to Cart", class:'btn btn-warning'%>
<% end %>



<%if @item.storefront == current_user.storefront %>
  <%= form_tag edit_storefront_item_path(current_user.storefront.id, @item.id), method: "GET" do %>
    <%= submit_tag "Edit", class:'btn btn-primary' %>
  <% end %>

  <%= form_tag "/items/#{@item.id}", method: "DELETE", action: "items#destroy" do %>
    <%= submit_tag "Delete", class:'btn btn-danger' %>
  <% end %>

<%end%>

<% flash.each do |type, msg| %>
  <div class='alert'>
    <%= msg %>
  </div>
<% end %>

</div>

