<h2>Your Shopping Cart</h2>
<% flash.each do |type, msg| %>
  <div class='alert'>
    <%= msg %>
  </div>
<% end %>

<%if cart_display != "NO ITEMS IN CART"%>
<table class="table">
<thead>
  <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
  </tr>
  </thead>
  <tbody>
    <% cart_display.each do |i, c| %>    
      <tr>
        <td class="col-md-4"><%= image_tag(i.image_url, border: 1, width: "30%") %></td>
        <td class="col-md-2"><%=i.name%></td>
        <td class="col-md-2">$<%=i.price%></td>
        <td class="col-md-2">x<%=c%></td>
        <td class="col-md-2">  <%= button_to "+", {action: "add_item", id: i.id}, {class: "btn btn-primary"}  %> <%= button_to "-", {action: "remove_item", id: i.id}, {class: "btn btn-danger"} %> </td>
      </tr>
    <% end%>
  </tbody>
</table>
<div class="float-right">
  <h3>Total: $<%=total_cost%></h3>
</div>
<%end%>

<%= form_tag new_transaction_path, method: "GET" do %>
  <%= submit_tag "Checkout", class:'btn btn-success' %>
<% end %>