<!DOCTYPE html>
<html>
  <head>
    <title>SwaysList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>SwayList</h1>
    <div class="nav">
      <ul>
        <% if session[:user_id] %>
          <li><a href="/logout">Logout</a></li> 
          <li><a href=<%=edit_user(session[:user_id])%>>Account</a></li>   
        <% else %>
          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>
        <% end %>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    

  </header>

  <body>
    <%= yield %>
  </body>
</html>
